$background: #00041C;

$d-background: #0C1323;
$d-navbar: #171E35;
$d-stroke: #32405B;
$d-icon: #536283;

$l-background: #FFFFFF;
$l-navbar: #EFF2FF;
$l-icon: #93A1BF;

$blue: #0076FF;
$blue2: #0051ff;
$wolf: #0036C2;
$green: #00FF7F;
$red: #FF0000;
$cyan: #00DBFF;
$purple: #be5aff;
$gold: #FFCE00;
$gold2: #ffb515;

$small: 15px;
$paragraph: 20px;
$subtitle: 25px;
$title: 40px;
$header: 50px;
