@import 'variables';

body{
    background: $l-navbar;
    overflow-x: hidden;
}

.main{
    background-color: $l-navbar;
}

#wolf{
    display: none;
}
@media screen and (min-width: 800px){

    .banner{
        width: 100vw;
        height: 30vw;
        background-color: white;
        background-size: cover;
        margin: 0;
        background-attachment: fixed;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -1;
    }

    .article{
        background: $l-navbar;
        color: black;
        margin-top: 30vw;
        z-index: 2;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        padding-bottom: 50px;
    }

    .header{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
        width: 80%;
        h1{
            font-size: $header;
            line-height: calc(#{$header} + 10px);
            font-weight: 700;
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 5px;
        }
        h3{
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }
    }

    p{
        width: 80%;
        margin: auto;
        max-width: 1200px;
        color: black;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 800px){

    .banner{
        width: 100vw;
        height: 50vw;
        background-color: white;
        background-size: cover;
        margin: 0;
        background-attachment: fixed;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -1;
    }

    .article{
        background: $l-navbar;
        color: black;
        margin-top: 50vw;
        z-index: 2;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        padding-bottom: 50px;
    }

    .header{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        margin: auto;
        h1{
            font-size: $title;
            line-height: calc(#{$title} + 10px);
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 5px;
        }
        h3{
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }
    }

    p{
        width: 90%;
        margin: auto;
        max-width: 1200px;
        color: black;
        margin-bottom: 20px;
    }

}

