@import 'variables';

#notif{
    display: none;
}

#wolf{
    .st0 {
        fill: #0286FF;
      }
      .st1 {
        fill: #424555;
      }
      .st2 {
        fill: #323545;
      }
      .st3 {
        fill: #1C2232;
      }
      .st4 {
        fill: #0E1625;
      }
      .st5 {
        fill: #030303;
      }
}


@media screen and (min-width: 800px){

    *{
        scroll-behavior: smooth;
    }

    .wave{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        animation: scale-in 2s ease-in;
    }

    #pointer{
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 50px;
        left: calc(50vw  - 25px);
        z-index: 3;
        animation: bounce infinite 0.8s alternate ease-in-out;
        svg{
            height: 100%;
            width: 100%;
            polyline{
                height: 100px;
                stroke: $blue;
                stroke-width: 1px;
                stroke-linecap: round;
                fill: none;
            }

        }
    }

    #dots{
        position: fixed;
        right: 20px;
        top: calc(50vh);
        z-index: 3;
        height: 120px;
        width: 30px;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 50px;
        align-items: center;
        background-color: rgba(white, 0.3);
        transition: 0.2s ease;
        opacity: 0;
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background-color: $blue;
            opacity: 0.5;
            &.active{
                opacity: 1;
            }
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes bounce{
        from{
            transform: translateY(0) rotate(90deg);
        }
        to{
            transform: translateY(15px) rotate(90deg);
        }
    }

    @keyframes scale-in{
        0%{
            opacity: 0;
            transform: scale(3);
        }
        50%{
            opacity: 0;
            transform: scale(3);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        z-index: 3;

        img{
            height: 400px;
            margin: 40px;
        }
    }

    .flagship{
        width: 700px;
        max-width: 40vw;

        h1{
            font-size: $header;
            margin: 0;
            margin-bottom: 30px;
            line-height: calc(#{$header} + 5px);
        }

        .button{
            background: $gold;
            border-radius: 12px;
            padding: 5px;
            width: fit-content;
            padding-left: 30px;
            padding-right: 33px;
            font-weight: 600;
            font-size: $subtitle;
            color: black;
            transition: 0.2s ease;

            &:hover{
                background: $gold2;
            }
        }

        .row{
            display: flex;
            justify-content: flex-start;
            .store{
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: black;
                padding-left: 15px;
                padding-right: 15px;
                margin-right: 20px;
                border-radius: 15px;
                transition: 0.2s ease;
                color: white;
                svg{
                    height: 30px;
                    width: 30px;
                }
                h2{
                    font-size: $paragraph;
                    line-height: $subtitle;
                    font-weight: 500;
                    margin-left: 10px;
                }
                &:hover{
                    background: rgba(black, 0.8);
                }
            }
        }
    }

    .animation{
        margin: 0px;
        margin-left: 100px;
        width: 280px;
        height: 560px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0 0 30px 5px rgba($wolf, 0.1);
    }

    .expo{
        width: 600px;
        margin: 50px;
        max-width: 40vw;
        display: flex;
        flex-direction: column;
        h1{
            font-size: $header;
            line-height: calc(#{$header} + 5px);
            margin: 0;
            .italic{
                font-style: italic;
            }
        }
        p{
            font-size: 20px;
            line-height: 28px;
        }
        .button{
            background: $blue;
            margin-top: 10px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: $paragraph;
            font-weight: 400;
            border-radius: 10px;
            width: fit-content;
            transition: 0.2s ease;
            color: white;
            &:hover{
                background: $blue2;
            }
        }
    }

    .slide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transition: 0.3s ease;
        position: sticky;
        top: -10px;
        background: $l-navbar;
        box-shadow: 0 -30px 100px rgba($wolf, 0.2);
        z-index: 3;

        &.first{
            background: none;
            z-index: 1;
        }

        &.right{
            text-align: right;
            .expo{
                align-items: flex-end;
            }
        }

        &.gone{
            opacity: 0.2;
            transform: translateY(-300px);
        }
    }
}


@media screen and (max-width: 800px){

    #wolf{
        width: 40vh;
        height: 40vh;
        margin-bottom: 20px;
    }

    *{
        scroll-behavior: smooth;
    }

    .wave{
        position: fixed;
        top: calc(50vh - 50vw);
        left: calc(50vw - 50vh);
        width: 100vh;
        transform: rotate(90deg);
        z-index: 0;
    }

    #pointer{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        left: calc(50vw  - 20px);
        z-index: 3;
        animation: bounce infinite 0.8s alternate ease-in-out;
        svg{
            height: 100%;
            width: 100%;
            polyline{
                stroke: white;
                opacity: 0.3;
                stroke-width: 1px;
                stroke-linecap: round;
                fill: none;
            }

        }
    }

    @keyframes bounce{
        from{
            transform: translateY(15px) rotate(90deg);
        }
        to{
            transform: translateY(30px) rotate(90deg);
        }
    }

    .slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 98vh;
        transition: 0.3s ease;
        position: sticky;
        top: -10px;
        background: $l-navbar;
        box-shadow: 0 -30px 200px rgba($wolf, 0.2);

        &.right{
            text-align: right;
        }

        &.gone{
            opacity: 0.2;
            transform: translateY(-300px);
        }

        &.first{
            background: white;
            box-shadow: none;
            margin-top: 60px;
        }
    }

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        z-index: 1;
        img{
            width: 90vw;
            margin-top: -80px;
        }
    }

    .flagship{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            margin-top: 20px;
            width: 85vw;
        }
        .button{
            background: $gold;
            border-radius: 12px;
            padding: 5px;
            width: fit-content;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 700;
            font-size: $paragraph;
            color: black;
            transition: 0.2s ease;
            &:hover{
                background: $gold2;
            }
        }
        .row{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .store{
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: black;
                padding-left: 12px;
                padding-right: 20px;
                margin: 5px;
                border-radius: 30px;
                transition: 0.2s ease;
                color: white;
                svg{
                    height: 18px;
                    width: 18px;
                    margin-left: 5px;
                }
                h2{
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 500;
                    margin: 0;
                    margin-left: 10px;
                }
                &:hover{
                    background: rgba(black, 0.8);
                }
            }
        }
    }

    .animation{
        margin: 0;
        width: 25vh;
        height: 50vh;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 0 30px 5px rgba($wolf, 0.1);
    }

    .expo{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        h1{
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
            .italic{
                font-style: italic;
            }
            margin-bottom: 0;
        }
        p{
            margin: auto;
            font-size: 15px;
            line-height: 18px;
            color: rgba(black, 0.5);
            margin: 5px;
            width: 95%;
        }
        .button{
            margin-top: 10px;
            font-size: 16px;
            color: white;
            background: $blue;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 500;
            border-radius: 20px;
            width: fit-content;
            transition: 0.2s ease;
            &:hover{
                background: $blue2;
            }
        }

    }

}