@import 'variables';

body{
    background: $l-navbar;
    color: black;
}

.main{
    margin-top: 100px;
    padding-bottom: 50px;
}

#wolf{
    .st0 {
        fill: #0286FF;
      }
      .st1 {
        fill: $l-icon;
      }
      .st2 {
        fill: darken($l-icon, 10%);
      }
      .st3 {
        fill: darken($l-icon, 0%);
      }
      .st4 {
        fill: darken($l-icon, 30%);
      }
      .st5 {
        fill: darken($l-icon, 40%);
      }
}

#wolf{
    width: 90vh;
    height: 90vh;
    position: fixed;
    top: 5vh;
    left: calc(50vw - 45vh);
    z-index: -2;
    .wolf-poly{
        opacity: 0.05;
    }
    .eye{
        opacity: 0.1;
    }

}

@media screen and (min-width: 800px){

    .title{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 0px;

        h1{
            font-size: 36px;
            line-height: calc(#{$header} + 5px);
            font-weight: 700;
            margin: 0;
            span{
                font-style: italic;
            }
        }
        h2{
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 80px;
        }
        #animation{
            width: 280px;
            height: 560px;
            background-color: white;
            border-radius: 15px;
            display: none;
            &.dark{
                background-color: $background;
            }
        }
    }

    .slide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 400px;
        transition: 0.3s ease;
        margin-bottom: 0;

        img{
            height: 100%;
        }

        .expo{
            margin: 30px;
            width: 35%;
            max-width: 600px;
            h2{
                font-size: 20px;
                margin: 0;
                margin-bottom: 5px;
                font-weight: 500;
                color: #a0a0a0;
            }
            h1{
                font-size: 32px;
                line-height: 40px;
                font-weight: 700;
                margin: 0;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
                width: 90%;
            }
        }

        &.right{
            .expo{
                h2{
                    text-align: right;
                    float: right;
                }
                h1{
                    text-align: right;
                    float: right;
                }
                p{
                    text-align: right;
                    float: right;
                }
            }
        }
    }
}


@media screen and (max-width: 800px){

    .title{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-bottom: 100px;

        h1{
            font-size: $title;
            line-height: calc(#{$title} + 5px);
            font-weight: 700;
            margin: 0;
            margin-bottom: 10px;
            width: 90%;
            span{
                font-style: italic;
            }
        }
        h2{
            font-size: $subtitle;
            font-weight: 400;
            margin: 0;
            margin-bottom: 50px;
            width: 90%;
        }
        #animation{
            width: 280px;
            height: 560px;
            background-color: white;
            border-radius: 15px;
            &.dark{
                background-color: $background;
            }
        }
    }

    .slide{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: 0.3s ease;
        margin-bottom: 50px;

        img{
            width: 80%;
            border-radius: 35px;
        }

        .expo{
            margin: 30px;
            width: 80%;
            text-align: center;
            max-width: 600px;
            h2{
                font-size: $subtitle;
                font-weight: 500;
                margin: 5px;
                color: #a0a0a0;
            }
            h1{
                font-size:calc(#{$subtitle} * 1.3);
                line-height: calc(#{$subtitle}*1.3 + 5px);
                font-weight: 700;
                margin: 0;
                margin-bottom: 20px;
            }
            p{
                font-size: $small;
                line-height: $paragraph;
                font-weight: 400;
                margin: 0;
            }
        }

    }
}

